<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-md-12 mb-3">
      <p class="text-center h4">Browse by Top Categories</p>
    </div>
    <div class="col-12 py-2">
      <div class="card-wrapper">
        <div class="card-image">
          <div class="bg-img-music bg-img">
            <div class="bg-tint w-100 h-100">
              <div class="card-text">
                <h3 class="text-white h5 text-center font-weight-bold">Music</h3>
                <p class="text-white text-center px-5">
                  Intimate house concerts, major music festivals, and the occasional dance party
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 py-2">
      <div class="card-wrapper">
        <div class="card-image">
          <div class="bg-img-classes bg-img">
            <div class="bg-tint h-100">
              <div class="card-text">
                <h3 class="text-white h5 text-center font-weight-bold">Classes</h3>
                <p class="text-white text-center px-5">
                  Enlightening seminars, technical workshops, and fitness classes
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 col-md-6 py-2">
      <div class="card-wrapper">
        <div class="card-image">
          <div class="bg-img-networking bg-img">
            <div class="bg-tint w-100 h-100">
              <div class="card-text">
                <h3 class="text-white h5 text-center font-weight-bold">Networking</h3>
                <p class="text-white text-center px-5">
                  Business mixers, hobby meetups, and panel discussions
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 col-md-6 py-2">
      <div class="card-wrapper">
        <div class="card-image">
          <div class="bg-img-arts bg-img">
            <div class="bg-tint w-100 h-100">
              <div class="card-text">
                <h3 class="text-white h5 text-center font-weight-bold">Arts</h3>
                <p class="text-white text-center px-5">
                  Plays, comedy nights, art exhibitions and film festivals
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 py-2">
      <div class="card-wrapper">
        <div class="card-image">
          <div class="bg-img-sports bg-img">
            <div class="bg-tint h-100">
              <div class="card-text">
                <h3 class="text-white h5 text-center font-weight-bold">Classes</h3>
                <p class="text-white text-center px-5">
                  Obstacle races, drop-in yoga classes, and the big game
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
