<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <nav class="navbar navbar-expand-md navbar-light p-0">
          <a class="navbar-brand cursor-pointer ml-4">NameOfSite</a>

          <div class="ml-auto">
            <ul class="navbar-nav">
              <li class="nav-item leftside-border md-show">
                <a class="nav-link p-4" href="/">Browse Events</a>
              </li>
              <li class="nav-item dropdown leftside-border">
                <a class="nav-link dropdown-toggle p-4 cursor-pointer">
                  {{this.name}}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/">Action</a>
                  <a class="dropdown-item" href="/">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item md-hide" href="/">Browse Events</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/">Something else here</a>
                </div>
              </li>
              <li class="nav-item leftside-border">
                <a class="nav-link p-4" href="/">SignIn</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
