.footer-bgcolor {
  background-color: #282C35;
}

.footerlinks {
  margin: 20px;
  display:flex;
  list-style:none;
  justify-content: space-around;
}

.footer-color {
  color: #D2D6DF !important;
  &:hover {
    text-decoration: none;
  }
}

.footer-border {
  border-bottom: 1px solid #363A43;
}

footer {
  border-top: 7px solid #666A72;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


