<footer class="footer-bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="footer-border pt-4"/>
        <ul class="footerlinks p-0">
          <li> <a class="footer-color" href="#">About</a></li>
          <li> <a class="footer-color" href="#">Help</a></li>
          <li> <a class="footer-color" href="#">Developers</a></li>
          <li> <a class="footer-color" href="#">Privacy</a></li>
          <li> <a class="footer-color" href="#">Cookies</a></li>
        </ul>
        <hr class="footer-border"/>
        <p class="text-center footer-color pb-3">© 2018 NameOfSite</p>
      </div>
    </div>
  </div>
</footer>
