<footer class="footer-bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="footer-border pt-4"/>
        <ul class="footerlinks p-0">
          <li> <a class="cursor-pointer footer-color">About</a></li>
          <li> <a class="cursor-pointer footer-color">Help</a></li>
          <li> <a class="cursor-pointer footer-color">Developers</a></li>
          <li> <a class="cursor-pointer footer-color">Privacy</a></li>
          <li> <a class="cursor-pointer footer-color">Cookies</a></li>
        </ul>
        <hr class="footer-border"/>
        <p class="text-center footer-color pb-3">© 2018 EventHandler</p>
      </div>
    </div>
  </div>
</footer>
