.bgColor {
  background-color: #282C35;
  height: 100px;
}

.footerlinks {
  margin: 20px;
  display:flex;
  list-style:none;
  justify-content: space-around;
}

a {
  color: #D2D6DF;
}

footer {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
