<div class="bg-color">
  <div class="container py-5">
    <div class="box-shadow">
      <div class="row mb-5">
        <div class="col-12">
          <h4 class="text-center my-4">Your Recent Bookings</h4>
          <hr />
        </div>
        <div class="col-10 offset-1 my-4">
          <ng-container *ngIf="hasBooking">
            <app-booking-history
              *ngFor="let booking of bookings"
              [booking]="booking"></app-booking-history>
          </ng-container>
          <ng-container *ngIf="!hasBooking">
            <div class="row" style="height: 25rem;">
              <img
                style="max-width: 100%; max-height: 100%"
                class="mx-auto"
                src="https://cdn.evbstatic.com/s3-build/perm_001/bd3414/django/images/pages/saved_events/no_events_2x.png"
                alt=" No booking image">
            </div>
            <p class="text-center my-4">You can see your bookings here</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
