
.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-bottom: 11.5rem;
  min-height: 100vh;
}

.bg-color {
  color: #666a73;
  background-color: #F8F8FA;
}


.font-small {
  font-size: small;
}

.font-medium {
  font-size: medium;
}

.font-large {
  font-size: large;
}

.padding-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.46);
}
.myBg-color {
  background-color: #FCFCFC;
}
