
.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-bottom: 11.5rem;
  min-height: 100vh;
}

.bg-color {
  color: #666a73;
  background-color: #F8F8FA;
}
